# Exploração GA4 dados

In [1]:
!pip install pandas --quiet

In [2]:
!pip install nbformat

Requirement already satisfied: nbformat in c:\users\cauai\desktop\repos\repo\aya-case\aya-case\.venv\lib\site-packages (5.10.4)
Requirement already satisfied: fastjsonschema>=2.15 in c:\users\cauai\desktop\repos\repo\aya-case\aya-case\.venv\lib\site-packages (from nbformat) (2.21.1)
Requirement already satisfied: jsonschema>=2.6 in c:\users\cauai\desktop\repos\repo\aya-case\aya-case\.venv\lib\site-packages (from nbformat) (4.23.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\cauai\desktop\repos\repo\aya-case\aya-case\.venv\lib\site-packages (from nbformat) (5.7.2)
Requirement already satisfied: traitlets>=5.1 in c:\users\cauai\desktop\repos\repo\aya-case\aya-case\.venv\lib\site-packages (from nbformat) (5.14.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\cauai\desktop\repos\repo\aya-case\aya-case\.venv\lib\site-packages (from jsonschema>=2.6->nbformat) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\cauai\desktop\repos\repo\aya-case\aya-case\.venv\lib\site-packages (from jsonschema>=2.6->nbformat) (2025.4.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\cauai\desktop\repos\repo\aya-case\aya-case\.venv\lib\site-packages (from jsonschema>=2.6->nbformat) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\cauai\desktop\repos\repo\aya-case\aya-case\.venv\lib\site-packages (from jsonschema>=2.6->nbformat) (0.24.0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\cauai\desktop\repos\repo\aya-case\aya-case\.venv\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (4.3.8)
Requirement already satisfied: pywin32>=300 in c:\users\cauai\desktop\repos\repo\aya-case\aya-case\.venv\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (310)

In [3]:
import pandas as pd
import plotly.express as px
import plotly.io as pio
pio.renderers.default = 'browser'

In [4]:
df = pd.read_csv(r"C:\Users\cauai\Desktop\repos\repo\aya-case\aya-case\data\raw\dados_ga4.csv")

In [5]:
df

,usuario_id,data_hora,evento
0,dcdff191-8e4f-4672-aa21-61ddd6e16b65,2025-01-14 06:14:58,visualizacao_tela:instalacao
1,dcdff191-8e4f-4672-aa21-61ddd6e16b65,2025-01-14 06:15:58,clique_botao:criar_conta
2,dcdff191-8e4f-4672-aa21-61ddd6e16b65,2025-01-14 06:19:58,clique_botao:cadastro
3,dcdff191-8e4f-4672-aa21-61ddd6e16b65,2025-01-14 06:22:58,clique_botao:pin_cadastro
4,dcdff191-8e4f-4672-aa21-61ddd6e16b65,2025-01-14 06:25:58,visualizacao_tela:inicio
...,...,...,...
5291,cad4ffdc-2293-414e-b961-2c323de39d0c,2025-02-13 15:46:10,clique_botao:ebook
5292,cad4ffdc-2293-414e-b961-2c323de39d0c,2025-02-13 16:03:10,clique_botao:ler_ebook
5293,cad4ffdc-2293-414e-b961-2c323de39d0c,2025-02-13 16:40:10,clique_botao:ler_ebook
5294,cad4ffdc-2293-414e-b961-2c323de39d0c,2025-02-13 17:31:10,clique_botao:ler_minibook
5295,cad4ffdc-2293-414e-b961-2c323de39d0c,2025-02-13 18:06:10,clique_botao:ebook

In [6]:
df.dtypes

usuario_id    object
data_hora     object
evento        object
dtype: object

In [7]:
df.describe()

,usuario_id,data_hora,evento
count,5296,5296,5296
unique,1000,5290,11
top,cbd217f5-f717-44a8-b102-7c73eebee826,2025-01-29 10:01:37,visualizacao_tela:instalacao
freq,22,2,1000

In [8]:
df.isnull().sum()

usuario_id    0
data_hora     0
evento        0
dtype: int64

In [9]:
df.describe(include="all")

,usuario_id,data_hora,evento
count,5296,5296,5296
unique,1000,5290,11
top,cbd217f5-f717-44a8-b102-7c73eebee826,2025-01-29 10:01:37,visualizacao_tela:instalacao
freq,22,2,1000

In [10]:
for col in df:
    print(f'{col}: {df[col].nunique()} valores únicos')

usuario_id: 1000 valores únicos
data_hora: 5290 valores únicos
evento: 11 valores únicos

In [11]:
#Não temos uma coluna content type mas é possivel criar ela
df[['acao', 'evento']] = df['evento'].str.split(":",expand=True)

In [12]:
df

,usuario_id,data_hora,evento,acao
0,dcdff191-8e4f-4672-aa21-61ddd6e16b65,2025-01-14 06:14:58,instalacao,visualizacao_tela
1,dcdff191-8e4f-4672-aa21-61ddd6e16b65,2025-01-14 06:15:58,criar_conta,clique_botao
2,dcdff191-8e4f-4672-aa21-61ddd6e16b65,2025-01-14 06:19:58,cadastro,clique_botao
3,dcdff191-8e4f-4672-aa21-61ddd6e16b65,2025-01-14 06:22:58,pin_cadastro,clique_botao
4,dcdff191-8e4f-4672-aa21-61ddd6e16b65,2025-01-14 06:25:58,inicio,visualizacao_tela
...,...,...,...,...
5291,cad4ffdc-2293-414e-b961-2c323de39d0c,2025-02-13 15:46:10,ebook,clique_botao
5292,cad4ffdc-2293-414e-b961-2c323de39d0c,2025-02-13 16:03:10,ler_ebook,clique_botao
5293,cad4ffdc-2293-414e-b961-2c323de39d0c,2025-02-13 16:40:10,ler_ebook,clique_botao
5294,cad4ffdc-2293-414e-b961-2c323de39d0c,2025-02-13 17:31:10,ler_minibook,clique_botao
5295,cad4ffdc-2293-414e-b961-2c323de39d0c,2025-02-13 18:06:10,ebook,clique_botao

In [13]:
df[['acao', 'evento']].drop_duplicates()

                 acao           evento
0   visualizacao_tela       instalacao
1        clique_botao      criar_conta
2        clique_botao         cadastro
3        clique_botao     pin_cadastro
4   visualizacao_tela           inicio
5        clique_botao         minibook
7        clique_botao     ler_minibook
21       clique_botao            ebook
22       clique_botao        ler_ebook
56       clique_botao        audiobook
57       clique_botao  ouvir_audiobook

In [14]:
# Lista ordenada das etapas com filtros
etapas = [
    ('Instalacao', (df['acao'] == 'visualizacao_tela') & (df['evento'] == 'instalacao')),
    ('Criar Conta', (df['acao'] == 'clique_botao') & (df['evento'] == 'criar_conta')),
    ('Cadastro', (df['acao'] == 'clique_botao') & (df['evento'] == 'cadastro')),
    ('PIN Cadastro', (df['acao'] == 'clique_botao') & (df['evento'] == 'pin_cadastro')),
    ('Inicio App', (df['acao'] == 'visualizacao_tela') & (df['evento'] == 'inicio')),
    ('Ler Minibook', (df['acao'] == 'clique_botao') & (df['evento'] == 'ler_minibook')),
    ('Ler Ebook', (df['acao'] == 'clique_botao') & (df['evento'] == 'ler_ebook')),
    ('Ouvir Audiobook', (df['acao'] == 'clique_botao') & (df['evento'] == 'ouvir_audiobook'))
]

# Inicializar
usuarios_anteriores = set()
funil_filtrado = []

for i, (etapa_nome, filtro) in enumerate(etapas):
    usuarios_etapa = set(df.loc[filtro, 'usuario_id'])

    # Na primeira etapa, pega todos os usuários
    if i == 0:
        usuarios_filtrados = usuarios_etapa
    else:
        usuarios_filtrados = usuarios_etapa & usuarios_anteriores

    funil_filtrado.append({
        'etapa': etapa_nome,
        'usuarios_unicos': len(usuarios_filtrados)
    })

    usuarios_anteriores = usuarios_filtrados

# Converter para DataFrame e calcular taxa de conversão
df_funil_seq = pd.DataFrame(funil_filtrado)
df_funil_seq['taxa_conversao'] = df_funil_seq['usuarios_unicos'] / df_funil_seq['usuarios_unicos'].shift(1)
df_funil_seq['taxa_conversao'] = df_funil_seq['taxa_conversao'].fillna(1).apply(lambda x: f"{x:.2%}")

# Exibir resultado
df_funil_seq

             etapa  usuarios_unicos taxa_conversao
0       Instalacao             1000        100.00%
1      Criar Conta              835         83.50%
2         Cadastro              754         90.30%
3     PIN Cadastro              470         62.33%
4       Inicio App              310         65.96%
5     Ler Minibook              180         58.06%
6        Ler Ebook              118         65.56%
7  Ouvir Audiobook               63         53.39%

In [15]:


# Criar gráfico funil
fig = px.funnel(
    df_funil_seq,
    y='etapa',
    x='usuarios_unicos',
    text='taxa_conversao',
    title='Funil de Cadastro e Consumo - Sequencial',
    labels={'usuarios_unicos': 'Usuários Únicos', 'etapa': 'Etapas'}
)
fig.update_traces(textposition='inside', textfont_size=14)
fig.show()