In [2]:
import pandas as pd
import plotly.express as px
import plotly.io as pio
pio.renderers.default = 'browser'

In [3]:
df = pd.read_csv(r"C:\Users\cauai\Desktop\repos\repo\aya-case\aya-case\data\raw\dados_cdp.csv")

In [4]:
df

,usuario_id,idade,genero,interesse,dias_desde_cadastro,dias_engajamento,boas_vindas_data,boas_vindas_eventos,engajamento_inicio,engajamento_fim,engajamento_dias_leitura,retencao_status
0,dcdff191-8e4f-4672-aa21-61ddd6e16b65,56,Feminino,"['Viagens', 'Viagens', 'Notícias']",20,17,2025-02-22 15:58:42,"['cadastro_concluido', 'primeiro_acesso']",2025-02-23 15:58:42,2025-03-12 15:58:42,5,Ativo
1,5d5dfeaa-bb0c-4766-ad94-7135abe976f8,46,Feminino,"['Tecnologia', 'Leitura', 'Viagens']",71,21,2025-01-02 06:59:07,"['cadastro_concluido', 'primeiro_acesso', 'tut...",2025-01-03 06:59:07,2025-01-24 06:59:07,20,Ativo
2,f081b639-9f96-415a-b139-a37336b25350,32,Outro,['Música'],65,19,2025-01-08 03:43:53,"['cadastro_concluido', 'primeiro_acesso', 'tut...",2025-01-09 03:43:53,2025-01-28 03:43:53,12,Ativo
3,0ea9d453-5d0a-409c-ae9d-a5804bcabb76,45,Outro,['Esportes'],43,7,2025-01-30 11:42:45,"['cadastro_concluido', 'primeiro_acesso', 'tut...",2025-01-31 11:42:45,2025-02-07 11:42:45,4,Ativo
4,a1da2ac0-2c8c-459e-88a7-99207549a541,39,Feminino,['Esportes'],14,12,2025-02-27 21:18:40,"['cadastro_concluido', 'primeiro_acesso', 'tut...",2025-02-28 21:18:40,2025-03-12 21:18:40,12,Ativo
...,...,...,...,...,...,...,...,...,...,...,...,...
995,05fcc3e4-cad8-415a-8f82-1c98646c427e,29,Outro,"['Tecnologia', 'Notícias', 'Notícias']",67,7,2025-01-05 20:03:44,"['cadastro_concluido', 'primeiro_acesso', 'tut...",2025-01-06 20:03:44,2025-01-13 20:03:44,1,Inativo
996,19458e79-8bcb-4e20-af2f-cbc498a727a6,34,Feminino,"['Viagens', 'Esportes']",62,5,2025-01-11 03:35:30,"['cadastro_concluido', 'primeiro_acesso', 'tut...",2025-01-12 03:35:30,2025-01-17 03:35:30,5,Ativo
997,c0cec131-671b-4799-8277-1bb3ea1c45a5,42,Feminino,['Viagens'],48,24,2025-01-25 00:03:46,"['cadastro_concluido', 'primeiro_acesso', 'tut...",2025-01-26 00:03:46,2025-02-19 00:03:46,23,Ativo
998,ecebb6f8-34f9-42c4-9f8b-42633f0608ab,19,Feminino,"['Leitura', 'Filmes']",-6,30,2025-03-20 03:13:22,"['cadastro_concluido', 'primeiro_acesso', 'tut...",2025-03-21 03:13:22,2025-04-20 03:13:22,27,Ativo
999,cad4ffdc-2293-414e-b961-2c323de39d0c,27,Outro,"['Leitura', 'Música']",8,26,2025-03-06 14:31:30,"['cadastro_concluido', 'primeiro_acesso', 'tut...",2025-03-07 14:31:30,2025-04-02 14:31:30,15,Ativo

In [5]:
df.describe()

,idade,dias_desde_cadastro,dias_engajamento,engajamento_dias_leitura
count,1000.000000,1000.000000,1000.000000,1000.000000
mean,39.157000,26.673000,17.755000,8.855000
std,12.653397,25.864668,7.297001,6.731068
min,18.000000,-17.000000,5.000000,0.000000
25%,28.000000,4.000000,12.000000,4.000000
50%,39.000000,26.000000,18.000000,7.000000
75%,50.000000,49.000000,24.000000,13.000000
max,60.000000,72.000000,30.000000,29.000000

In [6]:
df.isnull().sum()

usuario_id                  0
idade                       0
genero                      0
interesse                   0
dias_desde_cadastro         0
dias_engajamento            0
boas_vindas_data            0
boas_vindas_eventos         0
engajamento_inicio          0
engajamento_fim             0
engajamento_dias_leitura    0
retencao_status             0
dtype: int64

In [7]:
df[df['dias_desde_cadastro'] < 0]

,usuario_id,idade,genero,interesse,dias_desde_cadastro,dias_engajamento,boas_vindas_data,boas_vindas_eventos,engajamento_inicio,engajamento_fim,engajamento_dias_leitura,retencao_status
5,e6a81de5-5a94-429c-956c-b690e034bc8d,32,Outro,"['Notícias', 'Esportes']",-8,30,2025-03-22 02:45:50,"['cadastro_concluido', 'primeiro_acesso', 'tut...",2025-03-23 02:45:50,2025-04-22 02:45:50,12,Ativo
12,aeb8446f-1ebc-47fe-a050-b5796365f4a5,21,Outro,['Filmes'],-3,6,2025-03-16 19:23:27,"['cadastro_concluido', 'primeiro_acesso', 'tut...",2025-03-17 19:23:27,2025-03-23 19:23:27,0,Ativo
16,a08c7975-82cf-4fae-b44b-3f4a7b905105,19,Feminino,['Esportes'],-14,26,2025-03-28 10:33:54,"['cadastro_concluido', 'primeiro_acesso', 'tut...",2025-03-29 10:33:54,2025-04-24 10:33:54,26,Ativo
23,7221f71c-edbd-4365-8eb4-2d8eaf08bdcb,43,Outro,"['Leitura', 'Esportes']",-17,12,2025-03-30 22:04:27,"['cadastro_concluido', 'primeiro_acesso', 'tut...",2025-03-31 22:04:27,2025-04-12 22:04:27,3,Ativo
25,7b6e6c8c-f6bc-4599-9a5f-ccf50e1c277c,30,Masculino,"['Tecnologia', 'Notícias']",-9,8,2025-03-23 01:47:03,"['cadastro_concluido', 'primeiro_acesso', 'tut...",2025-03-24 01:47:03,2025-04-01 01:47:03,0,Ativo
...,...,...,...,...,...,...,...,...,...,...,...,...
971,a907415f-94c9-4c91-80b2-489759866661,22,Feminino,['Viagens'],-8,17,2025-03-21 21:16:19,"['cadastro_concluido', 'primeiro_acesso', 'tut...",2025-03-22 21:16:19,2025-04-08 21:16:19,2,Ativo
975,4fc11176-8a32-407f-a1e9-75dce4c9f0b2,20,Masculino,"['Esportes', 'Tecnologia']",-11,22,2025-03-25 07:57:01,"['cadastro_concluido', 'primeiro_acesso', 'tut...",2025-03-26 07:57:01,2025-04-17 07:57:01,1,Ativo
981,1e5a574f-8044-44bf-8a2f-47cc371281f1,57,Feminino,"['Música', 'Tecnologia', 'Leitura']",-7,18,2025-03-21 18:02:17,"['cadastro_concluido', 'primeiro_acesso', 'tut...",2025-03-22 18:02:17,2025-04-09 18:02:17,7,Ativo
994,00acae25-1a99-41ed-8def-326cc6c76306,30,Outro,"['Ebook', 'Filmes']",-13,15,2025-03-27 05:29:27,"['cadastro_concluido', 'primeiro_acesso', 'tut...",2025-03-28 05:29:27,2025-04-12 05:29:27,10,Ativo
998,ecebb6f8-34f9-42c4-9f8b-42633f0608ab,19,Feminino,"['Leitura', 'Filmes']",-6,30,2025-03-20 03:13:22,"['cadastro_concluido', 'primeiro_acesso', 'tut...",2025-03-21 03:13:22,2025-04-20 03:13:22,27,Ativo

In [9]:
df['boas_vindas_eventos'].unique()

array(["['cadastro_concluido', 'primeiro_acesso']",
       "['cadastro_concluido', 'primeiro_acesso', 'tutorial_completo']"],
      dtype=object)